<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">

      <h1 class="ui header">
        Date

        <div class="sub header">
          Validates that the attributes' values are before the specified date or after it.
        </div>
      </h1>

      <div class="ui hidden divider"></div>

    </div>

  </div>
</div>

<div class="ui main container">
  <p>
    <h3>Specific Options</h3>
    <ul>
      <li><code class="ui label">before</code>. The value must be <i>before</i> the supplied date.</li>
      <li><code class="ui label">after</code>. The value must be <i>after</i> the supplied date.</li>
    </ul>

    {{#ui-annotation showing=true type="javascript"}}
  validations: {
    birthdate: {
      date: {
        before: new Date()
      }
    },
    graduationDate: {
      date: {
        after: '2015-01-01'
      }
    }
  }
    {{/ui-annotation}}
  </p>

  {{config-options defaultMessage=messages.wrongLengthMessage}}

  {{#ui-example
    header="Examples"
    as |showing setCopyCode|}}

    {{#ui-html showing=showing}}
      <div class="ui two column grid">
        <div class="column">

          {{#object-form for=model classNames="segment"}}
            <div class="disabled  field">
              <label>Academic degree</label>
              <div class="fields">
                <div class="twelve wide field">
                  <div class="ui left icon input">
                    <input type="text" value='Theme Park Engineering'>
                    <i class="student icon"></i>
                  </div>
                </div>
                <div class="four wide field">
                  <input type="text" placeholder="GPA">
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="field">
                {{#form-field for='birthdate' label="Birthday" required=true icon='calendar'}}
                  {{pikaday-input value=model.birthdate onSelection=(action (mut model.birthdate)) placeholder="Birthday" format='MM/DD/YYYY'}}
                {{/form-field}}
              </div>
              <div class="field">
                {{#form-field for='graduationDate' label="Graduation Date" required=true icon='delete calendar'}}
                  {{pikaday-input value=model.graduationDate onSelection=(action (mut model.graduationDate)) placeholder="Graduation Date" format='MM/DD/YYYY'}}
                {{/form-field}}
              </div>
            </div>
            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary" {{action 'validate'}}>Validate</button>
                <button class="ui button reset" {{action 'reset'}}>Reset</button>
              </div>
            </div>
          {{/object-form}}

        </div>
        <div class="column">
          <div class="ui segment">
            {{model-errors-to-json errors=model.errors modelName=modelName}}
          </div>
        </div>
      </div>
    {{/ui-html}}

    {{#ui-annotation showing=showing type="javascript" setCopyCode=setCopyCode}}
import DS from 'ember-data';
import Validator from '../mixins/model-validator';

export default DS.Model.extend(Validator,{
  birthdate: DS.attr('date'),
  graduationDate: DS.attr('date'),

  validations: {
    birthdate: {
      date: {
        before: new Date()
      }
    },
    graduationDate: {
      date: {
        after: '2015-01-01'
      }
    }
  }
});
    {{/ui-annotation}}

  {{/ui-example}}
</div>