<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Email
        <div class="sub header">
          Validates that the specified attribute is a well formatted email address.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>
    {{! template-lint-disable block-indentation }}
    <UiAnnotation @showing={{true}} @type="javascript">
validations = {
  emailAddress: {
    email: true
  }
};
    </UiAnnotation>
    {{! template-lint-enable }}
  </p>
  <ConfigOptions @defaultMessage={{messages.presenceMessage}} />
  <UiExample @header="Examples" as |showing setCopyCode|>

    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">
          <ObjectForm @for={{model}} @classNames="segment">
            <p>Please enter your email address to subscribe to the wonderful Coconuts newsletter</p>
            <FormField @for="emailAddress" @label="Email Address" @required={{true}} @icon="mail">
              <Input @value={{model.emailAddress}} placeholder="Email Address" />
            </FormField>

            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary mr-10" {{action "validate"}}>Validate</button>
                <button class="ui button reset" {{action "reset"}}>Reset</button>
              </div>
            </div>
          </ObjectForm>

        </div>
        <div class="column">
          <div class="ui segment">
            <ModelErrorsToJson @errors={{model.errors}} @modelName={{modelName}} />
          </div>
        </div>
      </div>
    </UiHtml>
    {{! template-lint-disable block-indentation }}
    <UiAnnotation @showing={{showing}} @type="javascript" @setCopyCode={{setCopyCode}}>
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import Validator from 'ember-model-validator/decorators/model-validator';

@Validator
class MyModel extends Model {
  @attr('string') emailAddress;

  validations = {
    emailAddress: {
      email: true,
    },
  };
}

export default MyModel;
    </UiAnnotation>
    {{! template-lint-enable }}
  </UiExample>
</div>
