<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Format
        <div class="sub header">
          Validates the attribute's value by testing whether it matches a given regular expression, which is specified using the <code class="ui label">with:</code> option.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>
    <p>
      It uses the <a href="https://developer.mozilla.org/en/docs/Web/JavaScript/Reference/Global_Objects/String/match">match()</a> method from String.
    </p>
    {{! template-lint-disable block-indentation }}
    <UiAnnotation @showing={{true}} @type="javascript">
validations = {
  secretLettersCode: {
    format: { with: /^[a-zA-Z]+$/ }
  }
};
    </UiAnnotation>
    {{! template-lint-enable }}
  </p>

  <ConfigOptions @defaultMessage={{messages.formatMessage}} />

  <UiExample @header="Examples" as |showing setCopyCode|>

    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">

          <ObjectForm @for={{model}} @classNames="segment">
            <FormField @for="secretLettersCode" @label="Only letters code" @required={{true}}>
              <Input @value={{model.secretLettersCode}} placeholder="Only letters code" />
            </FormField>
            <FormField @for="secretNumericCode" @label="Only numeric code" @required={{true}}>
              <Input @value={{model.secretNumericCode}} placeholder="Only numeric code" />
            </FormField>
            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary mr-10" {{action "validate"}}>Validate</button>
                <button class="ui button reset" {{action "reset"}}>Reset</button>
              </div>
            </div>
          </ObjectForm>

        </div>
        <div class="column">
          <div class="ui segment">
            <ModelErrorsToJson @errors={{model.errors}} @modelName={{modelName}} />
          </div>
        </div>
      </div>
    </UiHtml>

    {{! template-lint-disable block-indentation }}
    <UiAnnotation @showing={{showing}} @type="javascript" @setCopyCode={{setCopyCode}}>
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import Validator from 'ember-model-validator/decorators/model-validator';

@Validator
class MyModel extends Model {
  @attr("string") secretLettersCode;
  @attr("string") secretNumericCode;

  validations = {
    secretLettersCode: {
      format: { with: /^[a-zA-Z]+$/, message: "Only letters pls" }
    },
    secretNumericCode: {
      format: { with: /^[0-9]+$/, message: "Only numbers pls" }
    }
  };
}

export default MyModel;
    </UiAnnotation>
    {{! template-lint-enable }}
  </UiExample>
</div>
