<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Inclusion
        <div class="sub header">
          Validates that the attribute's value is included in a given array.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>
    <h3>Required Options</h3>
    <ul>
      <li><code class="ui label">in</code>. Receives the set of values that will be accepted.</li>
    </ul>
    {{! template-lint-disable block-indentation }}
    {{#ui-annotation showing=true type="javascript"}}
validations: {
  playerName: {
    inclusion: { in: ["Jose Rene", "Aristi Gol", "Armani"] }
  }
}
    {{/ui-annotation}}
    {{! template-lint-enable }}
  </p>

  {{config-options defaultMessage=messages.inclusionMessage}}

  {{#ui-example
    header="Examples"
    as |showing setCopyCode|}}

    {{#ui-html showing=showing}}
      <div class="ui two column grid">
        <div class="column">

          {{#object-form for=model classNames="segment"}}
            {{#form-field for="playerName" label="Current Player Name" required=true}}
              {{input value=model.playerName placeholder="Player Name"}}
            {{/form-field}}
            <div class="fields">
              <div class="seven wide field">
                <div class="disabled field">
                  <label>Team Name</label>
                  <input placeholder="nickname" type="text" value="Atlético Nacional De Medellín" disabled="">
                </div>
              </div>
              <div class="eight wide field">
                <div class="disabled field">
                  <label>Total Copa Libertadores won</label>
                  <input placeholder="years of experience" type="number" value="2" disabled="">
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary" {{action "validate"}}>Validate</button>
                <button class="ui button reset" {{action "reset"}}>Reset</button>
              </div>
            </div>
          {{/object-form}}

        </div>
        <div class="column">
          <div class="ui segment">
            {{model-errors-to-json errors=model.errors modelName=modelName}}
          </div>
        </div>
      </div>
    {{/ui-html}}
    {{! template-lint-disable block-indentation }}
    {{#ui-annotation showing=showing type="javascript" setCopyCode=setCopyCode}}
import Model from "ember-data/model";
import attr from "ember-data/attr";
import Validator from "../mixins/model-validator";

export default Model.extend(Validator, {
  playerName: attr("string"),

  validations: {
    playerName: {
      inclusion: { in: ["Jose Rene", "Aristi Gol", "Armani"] }
    }
  }
});
    {{/ui-annotation}}
    {{! template-lint-enable }}
  {{/ui-example}}
</div>
