<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Length
        <div class="sub header">
          Validates the length of the attributes' values. It provides a variety of options, so you can specify length constraints in different ways.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>
    <h3>Specific Options</h3>
    <ul>
      <li>A <code class="ui label">number</code>. The exact length of the value allowed (Alias for <code class="ui label">is</code>).</li>
      <li>An <code class="ui label">array</code>. Will expand to <code class="ui label">minimum</code> and <code class="ui label">maximum</code>. First element is the lower bound, second element is the upper bound.</li>
      <li><code class="ui label">is</code> <em>option</em>. The exact length of the value allowed.</li>
      <li><code class="ui label">minimum</code> <em>option</em>. The minimum length of the value allowed.</li>
      <li><code class="ui label">maximum</code> <em>option</em>. The maximum length of the value allowed.</li>
    </ul>

    {{#ui-annotation showing=true type="javascript"}}
  validations: {
    socialSecurity: {
      length: 5
    },
    nsaNumber: {
      length: [3, 5]
    },
    chuncaluchoNumber: {
      length: { is: 10, message: 'this is not the length of a chuncalucho' }
    },
    hugeName: {
      length: {
        minimum: 3,
        maximum: 5
      }
    },
    smallName: {
      length: {
        minimum: 1,
        maximum: {
          value: 2,
          message: 'should be smaller'
        }
      }
    }
  }
    {{/ui-annotation}}
  </p>

  {{config-options defaultMessage=messages.wrongLengthMessage}}

  {{#ui-example
    header="Examples"
    as |showing setCopyCode|}}

    {{#ui-html showing=showing}}
      <div class="ui two column grid">
        <div class="column">

          {{#object-form for=model classNames="segment"}}
            {{#form-field for='chuncaluchoNumber' label="Chuncalucho Number" required=true}}
              {{input value=model.chuncaluchoNumber placeholder="Chuncalucho Number"}}
            {{/form-field}}
            <div class="fields">
              <div class="ten wide field">
                {{#form-field for='hugeName' label="Huge name" required=true}}
                  {{input value=model.hugeName placeholder="Huge name"}}
                {{/form-field}}
              </div>
              <div class="six wide field">
                {{#form-field for='smallName' label="Small Name" required=true}}
                  {{input value=model.smallName placeholder="Small Name"}}
                {{/form-field}}
              </div>
            </div>
            {{#form-field for='socialSecurity' label="Social Security" required=true}}
              {{input value=model.socialSecurity placeholder="Social Security"}}
            {{/form-field}}
            {{#form-field for='nsaNumber' label="NSA Number" required=true}}
              {{input value=model.nsaNumber placeholder="NSA Number"}}
            {{/form-field}}
            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary" {{action 'validate'}}>Validate</button>
                <button class="ui button reset" {{action 'reset'}}>Reset</button>
              </div>
            </div>
          {{/object-form}}

        </div>
        <div class="column">
          <div class="ui segment">
            {{model-errors-to-json errors=model.errors modelName=modelName}}
          </div>
        </div>
      </div>
    {{/ui-html}}

    {{#ui-annotation showing=showing type="javascript" setCopyCode=setCopyCode}}
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import Validator from '../mixins/model-validator';

export default Model.extend(Validator, {
  chuncaluchoNumber: attr('string'),
  socialSecurity: attr('string'),
  nsaNumber: attr('string'),
  hugeName: attr('string'),
  smallName: attr('string'),

  validations: {
    socialSecurity: {
      length: 5
    },
    nsaNumber: {
      length: [3, 5]
    },
    chuncaluchoNumber: {
      length: { is: 10, message: 'this is not the length of a chuncalucho' }
    },
    hugeName: {
      length: {
        minimum: 3,
        maximum: 5
      }
    },
    smallName: {
      length: {
        minimum: 1,
        maximum: {
          value: 2,
          message: 'should be smaller'
        }
      }
    }
  }
});
    {{/ui-annotation}}

  {{/ui-example}}
</div>
