<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Presence
        <div class="sub header">
          Validates that the specified attributes are not empty.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
      <p>
        A value is not present if it is empty or a whitespace string. It uses <a href="https://emberjs.com/api/ember/3.0/functions/@ember%2Futils/isBlank" target="_blank" rel="noopener">Ember.isBlank</a> method. This can be also used on <strong>async belongsTo</strong> relations.
      </p>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>
    {{! template-lint-disable block-indentation }}
    {{#ui-annotation showing=true type="javascript"}}
validations: {
  name: {
    presence: true
  }
}
    {{/ui-annotation}}
    {{! template-lint-enable }}
  </p>
  {{config-options defaultMessage=messages.presenceMessage}}
  {{#ui-example
    header="Form Input Examples"
    subHeader="A form with some required inputs"
    as |showing setCopyCode|}}

    {{#ui-html showing=showing}}
      <div class="ui two column grid">
        <div class="column">

          {{#object-form for=model classNames="segment"}}
            {{#form-field for="fullName" label="Full Name" required=true}}
              {{input value=model.fullName placeholder="Full Name"}}
            {{/form-field}}
            <div class="fields">
              <div class="field">
                {{#form-field for="fruit" label="Favorite Fruit" required=true}}
                  {{#ui-dropdown class="selection" selected=model.fruit onChange=(action (mut model.fruit))}}
                    <div class="default text">Fruit</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item"></div>
                      {{#each fruits as |fruit|}}
                        <div class="item" data-value={{fruit}}>
                          {{fruit}}
                        </div>
                      {{/each}}
                    </div>
                  {{/ui-dropdown}}
                {{/form-field}}
              </div>
              <div class="field">
                {{#form-field for="color" label="Favorite Color" }}
                  {{input value=model.color placeholder="Favorite Color"}}
                {{/form-field}}
              </div>
            </div>

            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary" {{action "validate"}}>Validate</button>
                <button class="ui button reset" {{action "reset"}}>Reset</button>
              </div>
            </div>
          {{/object-form}}
        </div>
        <div class="column">
          <div class="ui segment">
            {{model-errors-to-json errors=model.errors modelName=modelName}}
          </div>
        </div>
      </div>
    {{/ui-html}}
    {{! template-lint-disable block-indentation }}
    {{#ui-annotation showing=showing type="javascript" setCopyCode=setCopyCode}}
import Model from "ember-data/model";
import attr from "ember-data/attr";
import Validator from "../mixins/model-validator";

export default Model.extend(Validator, {
  fullName: attr("string"),
  fruit: attr("string"),
  color: attr("string"),

  validations: {
    fullName: {
      presence: true
    },
    fruit: {
      presence: true
    }
  }
});
    {{/ui-annotation}}
    {{! template-lint-enable }}
  {{/ui-example}}
</div>
