<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Relations
        <div class="sub header">
          This validator will run the <strong>validate()</strong> function for the specific relation. If it's a <code class="ui label">DS.hasMany</code> relation then it will loop through all objects.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
      <p>
        The relations have to be embedded or the <a href="https://emberjs.com/api/ember-data/release/classes/DS.EmbeddedRecordsMixin"><code class="ui label">embedded</code></a> has to be already resolved.
      </p>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>

    {{#ui-annotation showing=true type="javascript"}}
validations: {
  myHasManyRelation: {
    relations: ['hasMany']
  },
  myBelongsToRelation: {
    relations: ['belongsTo']
  }
}
    {{/ui-annotation}}
  </p>

  {{config-options defaultMessage=messages.acceptanceMessage}}

  {{#ui-example
    header="Examples"
    subHeader="A form with some required inputs"
    as |showing setCopyCode|}}

    {{#ui-html showing=showing}}
      <div class="ui two column grid">
        <div class="column">
          <h5>Relation model</h5>
          {{#object-form for=modelRelation classNames="segment"}}
            {{#form-field for='fullName' label="Full Name" required=true}}
              {{input value=modelRelation.fullName placeholder="Full Name"}}
            {{/form-field}}
            <div class="fields">
              <div class="field">
                {{#form-field for='fruit' label="Favorite Fruit" required=true}}
                  {{#ui-dropdown class="selection" selected=modelRelation.fruit onChange=(action (mut modelRelation.fruit))}}
                    <div class="default text">Fruit</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                      <div class="item"></div>
                      {{#each fruits as |fruit|}}
                        <div class="item" data-value={{fruit}}>
                          {{fruit}}
                        </div>
                      {{/each}}
                    </div>
                  {{/ui-dropdown}}
                {{/form-field}}
              </div>
              <div class="field">
                {{#form-field for='color' label="Favorite Color" }}
                  {{input value=modelRelation.color placeholder="Favorite Color"}}
                {{/form-field}}
              </div>
            </div>
          {{/object-form}}
          <h5>Main model</h5>
          {{#object-form for=model classNames="segment"}}

            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            {{#form-field for='happyWithMyRelation' label="Are you happy?" required=true}}
              {{ui-checkbox class="toggle" label="Yeah!" checked=model.happyWithMyRelation onChange=(action (mut model.happyWithMyRelation))}}
            {{/form-field}}
            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary" {{action 'validate'}}>Validate</button>
                <button class="ui button reset" {{action 'reset'}}>Reset</button>
              </div>
            </div>
          {{/object-form}}

        </div>
        <div class="column">
          <div class="ui segment">
            {{model-errors-to-json errors=modelRelation.errors modelName='for-presence'}}
            {{model-errors-to-json errors=model.errors modelName=modelName}}
          </div>
        </div>
      </div>
    {{/ui-html}}

    {{#ui-annotation showing=showing type="javascript" setCopyCode=setCopyCode}}
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import { belongsTo } from 'ember-data/relationships';
import Validator from '../mixins/model-validator';

export default Model.extend(Validator, {
  relationYeah: belongsTo('another-model'),
  happyWithMyRelation: attr('boolean'),

  validations: {
    happyWithMyRelation: {
      acceptance: true
    },
    relationYeah: {
      relations: ['belongsTo']
    }
  }
});
    {{/ui-annotation}}

  {{/ui-example}}
</div>
