<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        Subdomain
        <div class="sub header">
          Validates that the attribute's value is a well formatted subdomain.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>
    <h3>Specific Options</h3>
    <ul>
      <li><code class="ui label">reserved</code>. Words that are not allowed.</li>
    </ul>
    {{! template-lint-disable block-indentation }}
    <UiAnnotation @showing={{true}} @type="javascript">
validations = {
  mySubdomain: {
    subdomain: { reserved: ["admin", "blog"] }
  }
};
    </UiAnnotation>
    {{! template-lint-enable }}
  </p>

  <ConfigOptions @defaultMessage={{messages.wrongLengthMessage}} />

  <UiExample @header="Examples" as |showing setCopyCode|>

    <UiHtml @showing={{showing}}>
      <div class="ui two column grid">
        <div class="column">

          <ObjectForm @for={{model}} @classNames="segment">
            <div class="disabled  field">
              <label>Company settings</label>
              <div class="fields">
                <div class="twelve wide field">
                  <input type="text" placeholder="RUT Number">
                </div>
                <div class="four wide field">
                  <input type="text" placeholder="CTI">
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="ten wide field">
                <FormField @for="companySubdomain" @label="Subdomain" @required={{true}} @pre="http://" @post=".ember.com">
                  <Input @value={{model.companySubdomain}} placeholder="Subdomain" />
                </FormField>
              </div>
              <div class="six wide field">
                <div class="disabled field">
                  <label>SSL Certificate</label>
                  <input placeholder="SSL" type="text" disabled="" tabindex="-1">
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary mr-10" {{action "validate"}}>Validate</button>
                <button class="ui button reset" {{action "reset"}}>Reset</button>
              </div>
            </div>
          </ObjectForm>
        </div>
        <div class="column">
          <div class="ui segment">
            <ModelErrorsToJson @errors={{model.errors}} @modelName={{modelName}} />
          </div>
        </div>
      </div>
    </UiHtml>
    {{! template-lint-disable block-indentation }}
    <UiAnnotation @showing={{showing}} @type="javascript" @setCopyCode={{setCopyCode}}>
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import Validator from 'ember-model-validator/decorators/model-validator';

@Validator
class MyModel extends Model {
  @attr('string') companySubdomain;

  validations = {
    companySubdomain: {
      subdomain: { reserved: ['admin', 'blog'] },
    },
  };
}

export default MyModel;
    </UiAnnotation>
    {{! template-lint-enable }}
  </UiExample>
</div>
