<div class="ui masthead vertical segment">
  <div class="ui container">
    <div class="introduction">
      <h1 class="ui header">
        URL
        <div class="sub header">
          Validates if the attribute's value is a well formatted URL.
        </div>
      </h1>
      <div class="ui hidden divider"></div>
    </div>
  </div>
</div>

<div class="ui main container">
  <p>
    {{! template-lint-disable block-indentation }}
    {{#ui-annotation showing=true type="javascript"}}
validations = {
  myBlog: {
    URL: true
  }
};
    {{/ui-annotation}}
    {{! template-lint-enable }}
  </p>

  {{config-options defaultMessage=messages.wrongLengthMessage}}

  {{#ui-example
    header="Examples"
    subHeader=" "
    as |showing setCopyCode|}}

    {{#ui-html showing=showing}}
      <div class="ui two column grid">
        <div class="column">

          {{#object-form for=model classNames="segment"}}
            <div class="fields">
              <div class="seven wide field">
                <div class="disabled field">
                  <label>Nickname</label>
                  <input placeholder="nickname" type="text" disabled="">
                </div>
              </div>
              <div class="eight wide field">
                <div class="disabled field">
                  <label>Years of experience</label>
                  <input placeholder="years of experience" type="number" disabled="">
                </div>
              </div>
            </div>
            <div class="fields">
              <div class="eleven wide field">
                {{#form-field for="blogUrl" label="Blog URL" required=true icon="tumblr square"}}
                  {{input value=model.blogUrl placeholder="Blog URL"}}
                {{/form-field}}
              </div>
              <div class="five wide field">
                <div class="disabled field">
                  <label>Do you like dogs?</label>
                  {{ui-checkbox class="toggle" label="Ofcourse!"}}
                </div>
              </div>
            </div>
            <div class="actions">
              <div class="ui input submit">
                <button class="ui button primary mr-10" {{action "validate"}}>Validate</button>
                <button class="ui button reset" {{action "reset"}}>Reset</button>
              </div>
            </div>
          {{/object-form}}
        </div>
        <div class="column">
          <div class="ui segment">
            {{model-errors-to-json errors=model.errors modelName=modelName}}
          </div>
        </div>
      </div>
    {{/ui-html}}
    {{! template-lint-disable block-indentation }}
    {{#ui-annotation showing=showing type="javascript" setCopyCode=setCopyCode}}
import Model from 'ember-data/model';
import attr from 'ember-data/attr';
import Validator from 'ember-model-validator/decorators/model-validator';

@Validator
class MyModel extends Model {
  @attr('string') blogUrl;

  validations = {
    blogUrl: {
      URL: true,
    },
  };
}

export default MyModel;
    {{/ui-annotation}}
    {{! template-lint-enable }}
  {{/ui-example}}
</div>
