{{#if label}}
  <label class={{labelClass}}>{{label}}</label>
{{/if}}

<div class="input-wrapper">

	{{#if hasBlock}}
	  {{yield}}
	{{else}}
	  {{input type=type value=value}}
	{{/if}}

	{{#if icon}}
		<i class="icon {{icon}}"></i>
	{{/if}}

</div>

{{#if errors.length}}
  <span class="help-block">
    {{errors}}
  </span>
{{/if}}
