{{#if label}}
  <label class={{labelClass}}>{{label}}</label>
{{/if}}

{{#if icon}}
  <div class="ui left icon input">
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <Input @type={{type}} @value={{value}} />
    {{/if}}
    <i class="{{icon}} icon"></i>
  </div>
{{else}}
  <div class="ui input {{ if pre "right labeled"}}">
    {{#if pre}}
      <div class="ui label">{{pre}}</div>
    {{/if}}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      <Input @type={{type}} @value={{value}} />
    {{/if}}
    {{#if post}}
      <div class="ui basic label">{{post}}</div>
    {{/if}}
  </div>
{{/if}}

{{#if errors.length}}
  <span class="help-block">
    {{errors}}
  </span>
{{/if}}
